@media screen and (max-width:1100px) {
    .header__logo-link {
        display: none;
    }

    .header__nav {
        margin: 0 auto;
    }
}

@media screen and (max-width: 980px) {
    .header__nav-item {
        font-size: 20px;
    }
    
    .header__nav-item:not(:last-child) {
        margin-right: 100px;
    }

    .main__header {
        font-size: 50px;
    }

    .main__description {
        font-size: 25px;
    }

    .main__btn {
        font-size: 25px;
    }

    .why__header {
        font-size: 50px;
    }

    .why__item-header {
        font-size: 25px;
    }

    .why__item-description {
        font-size: 20px;
    }

    .do__header {
        font-size: 50px;
    }

    .do__item-description {
        font-size: 25px;
    }

    .about__header {
        font-size: 50px;
    }

    .about__description {
        font-size: 25px;
        width: 100%;
    }
}

@media screen and (max-width: 660px) {
    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__nav-item {
        font-size: 30px;
    }

    .header__nav-item:not(:last-child) {
        margin-right: 0;
    }

    .footer__header {
        font-size: 50px;
    }

    .footer__left-header-list {
        font-size: 30px;
    }

    .footer__item {
        font-size: 20px;
    }

    .footer__right-list {
        text-align: center;
        font-size: 30px;
    }
}
